.main__text--message {
  font-size: 16px;
  width: 256px;
}

.form__message {
  background-color: var(--bg-gray);
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin: 24px 0 16px 0;
  padding: 32px 16px;
  width: 80%;
}

.label {
  color: var(--blue);
  font-weight: 600;
}

.input--form-message {
  background-color: var(--white);
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 6px;
  height: 40px;
  margin-bottom: 8px;
  padding: 12px 16px;
  width: 100%;
}

.input--form-message::placeholder {
  color: var(--soft-gray);
  font-size: 14px;
  font-family: var(--font);
}

.textarea {
  height: auto;
}

.btn--form-message {
  align-self: center;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .main__text--message {
    font-size: 18px;
    width: 505px;
  }

  .main-message-bg {
    background: url(../img/bg/bg-rigth-tablet.svg) right -3% no-repeat;
  }

  .form__message {
    width: 64%;
  }
}

@media screen and (min-width: 1440px) {
  .main__text--message {
    font-size: 18px;
    width: 500px;
  }

  .form__message {
    width: 44%;
  }
}