.registration__question {
  display: block;
  margin-bottom: 1rem;
}

.main__text--registration {
  margin: 24px 0;
  width: 312px;
}

@media screen and (min-width: 768px) {
  .registration__question {
    margin-bottom: 0;
  }

  .main__text--registration {
    font-size: 1.125rem;
    line-height: 26px;
    margin: 40px 0;
    width: 520px;
  }
}