.welcome-page {
  background-color: var(--blue);
}

.welcome {
  background: url(../img/bg/bg-rigth.svg) 100% 3% no-repeat;
  color: var(--white);
}

.welcome__content {
  text-align: center;
  width: 248px;
}

.welcome__title {
  font-family: var(--welcome);
  font-size: 1.625rem;
  font-weight: 500;
  margin: 24px 0 16px;
}

.welcome__text {
  line-height: 24px;
  margin-bottom: 32px;
}

.welcome__text--desktop {
  display: none;
}

.welcome__illustration {
  background: url(../img/illustration1.png) no-repeat center / cover;
  height: 320px;
  margin-top: 18px;
  width: 255px;
}

.welcome__footer {
  position: absolute;
  bottom: -88px;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .logo {
    height: 60px;
    width: 250px;
  }

  .welcome__content {
    width: 345px;
  }

  .welcome__title {
    font-size: 1.75rem;
    margin: 40px 0 24px;
  }

  .welcome__text {
    display: none;
  }

  .welcome__text--desktop {
    display: block;
    font-size: 1.125rem;
    line-height: 26px;
    margin-bottom: 38px;
  }

  .welcome__illustration {
    margin-top: 34px;
  }

  .welcome__footer {
    bottom: -175px;
  }
}