@import url(_reset.css);
@import url(_varibles.css);
@import url(./components/_header.css);
@import url(./components/_footer.css);
@import url(./components/_btn.css);
@import url(_welcome.css);
@import url(_registration.css);
@import url(_login.css);
@import url(_home.css);
@import url(./components/_animal-card.css);
@import url(./components/_form.css);
@import url(./_message.css);
@import url(./_profile.css);

body {
  color: var(--blue);
  font-family: var(--font);
  font-weight: 400;
  height: 100vh;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 180px;
  width: 100%;
}

.container--welcome {
  height: 75%;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main__text {
  line-height: 21px;
  text-align: center;
}

.main-bg {
  background: url(../img/bg/bg-left.svg) -7% 65% no-repeat;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .container {
    top: 275px;
  }

  .container--welcome {
    height: 90%;
  }

  .main {
    min-height: 755px;
  }
  
  .main-bg, 
  .welcome {
    background: url(../img/bg/bg-rigth-tablet.svg) right -3% no-repeat;
  }

  .main__text {
    line-height: 26px;
  }
}