.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 104px;
  justify-content: center;
  width: 100%;
}

.footer__text {
  background-color: var(--green);
  color: var(--white);
  display: block;
  text-align: center;
  font-size: 1rem;
  line-height: 104px;
  width: 100%;
}

.footer__text--welcome {
  line-height: 104px;
  position: absolute;
  top: 315px;
}

.footer__link {
  color: var(--gray);
  font-weight: 600;
}

.footer__link:hover {
  color: var(--blue);
}