.header {
  z-index: 10;
  min-height: 275px;
  position: relative;
}

.header--main {
  background: url(../../img/bg/bg-top.svg) no-repeat;
}

.header--secondary {
  background: url(../../img/paws.svg), url(../../img/bg/bg-top.svg);
  background-position: top right, top left;
  background-repeat: no-repeat, no-repeat;
}

.header__container {
  display: flex;
  height: 40px;
  align-items: center;
  margin-left: 48px;
  padding-top: 48px;
  width: 100%;
}

.header-logo {
  display: none;
}

.menu__list {
  align-items: center;
  display: flex;
  gap: 58px;
}

.menu__icon:hover {
  cursor: pointer;
}

.menu__icon--user {
  margin-left: 76px;
}

@media screen and (min-width: 768px) {
  .header__container {
    margin-left: 50px;
    padding-top: 70px;
  }

  .header-logo {
    display: block;
    height: 30px;
    width: 128px;
  }

  .header {
    display: flex;
    gap: 65px;
    min-height: 470px;
  }

  .header--main{
    background: url(../../img/bg/bg-top-tablet.svg) no-repeat;
  }

  .header--secondary {
    background: url(../../img/paws-desktop.png), url(../../img/bg/bg-top-tablet.svg);
    background-position: top right, top left;
    background-repeat: no-repeat, no-repeat;
  }

  .menu {
    position: static;
    margin-left: 65px; 
    width: 100%;
  }

  .menu__item:nth-child(2) {
    flex-grow: 1;
  }
  
  .menu__icon--user {
    margin-right: 42px;
  }
}